@model WebUI.Models.DataBase.Entities.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VizyonaGirisTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VizyonaGirisTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VizyonDanKalkisTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VizyonDanKalkisTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmOzet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmOzet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmSuresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmSuresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmYönetmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmYönetmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmPosterFotografYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmPosterFotografYolu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
